env/
.env
*.pyc
__pycache__
TO-DO.txt
build
dist/
*.egg-info
env-example
system_messages.toml
datasets/*.jsonl
datasets/1738741362-seeds-mini-test-full-prompt-dataset.jsonl
datasets/1738741391-seeds-mini-test-full-prompt-dataset.jsonl
datasets/1738741407-seeds-mini-test-full-prompt-dataset.jsonl
datasets/1738913074-seeds-mini-test-full-prompt-dataset.jsonl
datasets/1738913181-seeds-mini-test-full-prompt-dataset.jsonl
datasets/seeds-mini-test/adv_suffixes.jsonl
datasets/seeds-mini-test/base_documents.jsonl
datasets/seeds-mini-test/instructions.jsonl
datasets/seeds-mini-test/jailbreaks.jsonl
datasets/seeds-mini-test/standalone_attacks.jsonl
datasets/seeds-targeted-2024-12/base_documents.jsonl
datasets/seeds-targeted-2024-12/instructions.jsonl
datasets/seeds-targeted-2024-12/jailbreaks.jsonl
datasets/seeds-targeted-2024-12/README.md
datasets/seeds-targeted-2024-12/standalone_attacks.jsonl
plugins/sample_plugin.py
targets/sample_target.py
.gitignore
datasets/1738920186-seeds-mini-test-full-prompt-dataset.jsonl
datasets/1738920317-seeds-mini-test-full-prompt-dataset.jsonl
datasets/1738920415-seeds-mini-test-full-prompt-dataset.jsonl
results/*.*
.vscode/launch.json
